In [ ]:
import pandas as pd
import numpy as np

In [ ]:
users = pd.read_csv("/content/Users.csv")
books = pd.read_csv("/content/Books.csv")
ratings = pd.read_csv("/content/Ratings.csv")

<ipython-input-83-cb208d54f6f6>:2: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  books = pd.read_csv("/content/Books.csv")

In [ ]:
users.sample(2)

        User-ID                         Location   Age
26128     26129     silver spring, maryland, usa  37.0
203651   203652  vorden, gelderland, netherlands   NaN

In [ ]:
books.sample(2)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
17967,0552995649,Just for the Summer,Judy Astley,1994,Black Swan,http://images.amazon.com/images/P/0552995649.0...,http://images.amazon.com/images/P/0552995649.0...,http://images.amazon.com/images/P/0552995649.0...
234351,0791450961,The Journey of One Buddhist Nun: Even Against ...,Sid Brown,2001,State University of New York Press,http://images.amazon.com/images/P/0791450961.0...,http://images.amazon.com/images/P/0791450961.0...,http://images.amazon.com/images/P/0791450961.0...

In [ ]:
ratings.sample(2)

        User-ID        ISBN  Book-Rating
242921    55892  1587883244            0
977073   235105  0771026757           10

In [ ]:
users.columns

Index(['User-ID', 'Location', 'Age'], dtype='object')

In [ ]:
books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [ ]:
ratings.columns

Index(['User-ID', 'ISBN', 'Book-Rating'], dtype='object')

In [ ]:
# no. of row and no. of col 
print(books.shape)
print(ratings.shape)
print(users.shape)

(271360, 8)
(1149780, 3)
(278858, 3)

In [ ]:
# find any null value or not
books.isnull().sum()

ISBN                   0
Book-Title             0
Book-Author            1
Year-Of-Publication    0
Publisher              2
Image-URL-S            0
Image-URL-M            0
Image-URL-L            3
dtype: int64

In [ ]:
ratings.isnull().sum()

User-ID        0
ISBN           0
Book-Rating    0
dtype: int64

In [ ]:
users.isnull().sum()

User-ID          0
Location         0
Age         110762
dtype: int64

In [ ]:
# find the duplicated values
books.duplicated().sum()

0

In [ ]:
users.duplicated().sum()

0

In [ ]:
ratings.duplicated().sum()

0

# EDA Analysis

# Popularity Based Book Recommendation system
- base of hight avg rating 

1. merge the rating with book by ISBN
2. group by base on book-rating and reset index
3. create two table
 -  num_rating_df
 - avg_rating_df
4. merge num_rating_df and avg_rating_df as popular_df
5. find the top 50 book whose have avg_rating > 250 and sorted on asc order
6. find the books detail from books dataset
  - merge the popular_df dataset to books
  - remove the duplicated books who have same book-title

In [ ]:
# merge the ratings with books
rating_with_name=ratings.merge(books, on="ISBN")

In [ ]:
print(rating_with_name.shape)
print(rating_with_name.columns)

(1031136, 10)
Index(['User-ID', 'ISBN', 'Book-Rating', 'Book-Title', 'Book-Author',
       'Year-Of-Publication', 'Publisher', 'Image-URL-S', 'Image-URL-M',
       'Image-URL-L'],
      dtype='object')

In [ ]:
rating_with_name.head(2)

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,276725,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
1,2313,034545104X,5,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...

In [ ]:
num_rating_df = rating_with_name.groupby("Book-Title").count()["Book-Rating"].reset_index()
num_rating_df.rename(columns={"Book-Rating":"number-rating"}, inplace=True)
num_rating_df

                                               Book-Title  number-rating
0        A Light in the Storm: The Civil War Diary of ...              4
1                                   Always Have Popsicles              1
2                    Apple Magic (The Collector's series)              1
3        Ask Lily (Young Women of Faith: Lily Series, ...              1
4        Beyond IBM: Leadership Marketing and Finance ...              1
...                                                   ...            ...
241066                                      Ã?Â?lpiraten.              2
241067                     Ã?Â?rger mit Produkt X. Roman.              4
241068                                Ã?Â?sterlich leben.              1
241069                              Ã?Â?stlich der Berge.              3
241070                                  Ã?Â?thique en toc              2

[241071 rows x 2 columns]

In [ ]:
avg_rating_df = rating_with_name.groupby("Book-Title").mean()["Book-Rating"].reset_index()
avg_rating_df.rename(columns={"Book-Rating":"avg-rating"},inplace=True)
avg_rating_df

                                               Book-Title  avg-rating
0        A Light in the Storm: The Civil War Diary of ...    2.250000
1                                   Always Have Popsicles    0.000000
2                    Apple Magic (The Collector's series)    0.000000
3        Ask Lily (Young Women of Faith: Lily Series, ...    8.000000
4        Beyond IBM: Leadership Marketing and Finance ...    0.000000
...                                                   ...         ...
241066                                      Ã?Â?lpiraten.    0.000000
241067                     Ã?Â?rger mit Produkt X. Roman.    5.250000
241068                                Ã?Â?sterlich leben.    7.000000
241069                              Ã?Â?stlich der Berge.    2.666667
241070                                  Ã?Â?thique en toc    4.000000

[241071 rows x 2 columns]

In [ ]:
popular_df = num_rating_df.merge(avg_rating_df, on="Book-Title")
popular_df.head(2)

,Book-Title,number-rating,avg-rating
0,A Light in the Storm: The Civil War Diary of ...,4,2.25
1,Always Have Popsicles,1,0.00

In [ ]:
popular_df = popular_df[popular_df["number-rating"] > 250].sort_values("avg-rating",ascending=False).head(50)
popular_df

,Book-Title,number-rating,avg-rating
80434,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804
80422,Harry Potter and the Goblet of Fire (Book 4),387,5.824289
80441,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410
80426,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441
80414,Harry Potter and the Chamber of Secrets (Book 2),556,5.183453
191612,The Hobbit : The Enchanting Prelude to The Lor...,281,5.007117
187377,The Fellowship of the Ring (The Lord of the Ri...,368,4.948370
80445,Harry Potter and the Sorcerer's Stone (Harry P...,575,4.895652
211384,"The Two Towers (The Lord of the Rings, Part 2)",260,4.880769
219741,To Kill a Mockingbird,510,4.700000
183573,The Da Vinci Code,898,4.642539
187880,The Five People You Meet in Heaven,430,4.551163
180556,The Catcher in the Rye,449,4.545657
196326,The Lovely Bones: A Novel,1295,4.468726
764,1984,284,4.454225
144165,Prodigal Summer: A Novel,253,4.450593
128670,Neverwhere,265,4.449057
206502,The Secret Life of Bees,774,4.447028
168719,Stupid White Men ...and Other Sorry Excuses fo...,283,4.356890
223135,"Tuesdays with Morrie: An Old Man, a Young Man,...",493,4.354970
204387,The Red Tent (Bestselling Backlist),723,4.334716
191589,The Hitchhiker's Guide to the Galaxy,268,4.328358
129379,Nickel and Dimed: On (Not) Getting By in America,335,4.289552
93381,Into the Wild,252,4.273810
63867,Fahrenheit 451,409,4.264059
74750,Girl with a Pearl Earring,526,4.218631
136145,Outlander,283,4.173145
233370,Where the Heart Is (Oprah's Book Club (Paperba...,585,4.105983
156102,Seabiscuit: An American Legend,275,4.098182
107962,Life of Pi,664,4.088855
176845,The Bean Trees,389,4.087404
2281,"A Child Called \It\"": One Child's Courage to S...",265,4.086792
8434,ANGELA'S ASHES,279,4.075269
76343,Good in Bed,490,4.055102
64931,Fast Food Nation: The Dark Side of the All-Ame...,321,4.037383
12700,American Gods,302,4.006623
161645,Skipping Christmas,322,4.006211
105777,Left Behind: A Novel of the Earth's Last Days ...,318,4.003145
189551,"The Golden Compass (His Dark Materials, Book 1)",336,4.000000
181679,The Color Purple,314,3.964968
160336,Silence of the Lambs,256,3.960938
8752,About a Boy,262,3.900763
158138,Seven Up (A Stephanie Plum Novel),278,3.888489
175097,The Alchemist: A Fable About Following Your Dream,266,3.875940
80069,Hard Eight : A Stephanie Plum Novel (A Stephan...,269,3.825279
170101,Suzanne's Diary for Nicholas,457,3.820569
111073,Lord of the Flies,259,3.818533
5664,A Prayer for Owen Meany,413,3.796610
212070,"The Vampire Lestat (Vampire Chronicles, Book II)",301,3.777409
233851,White Oleander : A Novel (Oprah's Book Club),356,3.772472

In [ ]:
popular_df = popular_df.merge(books, on="Book-Title").drop_duplicates("Book-Title")
print(popular_df.shape)
popular_df.columns

(50, 10)

Index(['Book-Title', 'number-rating', 'avg-rating', 'ISBN', 'Book-Author',
       'Year-Of-Publication', 'Publisher', 'Image-URL-S', 'Image-URL-M',
       'Image-URL-L'],
      dtype='object')

In [ ]:
popular_df=popular_df[['Book-Title', 'number-rating', 'avg-rating', 'Book-Author','Image-URL-M',
       'Image-URL-S']]

In [ ]:
popular_df.head(4)

,Book-Title,number-rating,avg-rating,Book-Author,Image-URL-M,Image-URL-S
0,Harry Potter and the Prisoner of Azkaban (Book 3),428,5.852804,J. K. Rowling,http://images.amazon.com/images/P/0439136350.0...,http://images.amazon.com/images/P/0439136350.0...
3,Harry Potter and the Goblet of Fire (Book 4),387,5.824289,J. K. Rowling,http://images.amazon.com/images/P/0439139597.0...,http://images.amazon.com/images/P/0439139597.0...
5,Harry Potter and the Sorcerer's Stone (Book 1),278,5.737410,J. K. Rowling,http://images.amazon.com/images/P/0590353403.0...,http://images.amazon.com/images/P/0590353403.0...
9,Harry Potter and the Order of the Phoenix (Boo...,347,5.501441,J. K. Rowling,http://images.amazon.com/images/P/043935806X.0...,http://images.amazon.com/images/P/043935806X.0...

In [ ]:
popular_df.columns

Index(['Book-Title', 'number-rating', 'avg-rating', 'Book-Author',
       'Image-URL-M', 'Image-URL-S'],
      dtype='object')

In [ ]:
popular_df[popular_df["Book-Title"]=="Outlander"]["Image-URL-S"]

117    http://images.amazon.com/images/P/0440222915.0...
Name: Image-URL-S, dtype: object

In [ ]:
popular_df["Image-URL-S"][0]

'http://images.amazon.com/images/P/0439136350.01.THUMBZZZ.jpg'

# Collaborative Filtering Based Recommender System

1.

In [ ]:
x = rating_with_name.groupby('User-ID').count()["Book-Rating"]>300
padh_likhe_user = x[x].index
padh_likhe_user

Int64Index([  2276,   3363,   4385,   6251,   6543,   6575,   7158,   7346,
              8681,   8936,
            ...
            270713, 271284, 273979, 274004, 274061, 274301, 274308, 275970,
            277427, 278418],
           dtype='int64', name='User-ID', length=498)

In [ ]:

filter_rating = rating_with_name[rating_with_name["User-ID"].isin(padh_likhe_user)]
filter_rating

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
2,6543,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
5,23768,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
7,28523,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
15,77940,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
16,81977,034545104X,0,Flesh Tones: A Novel,M. J. Rose,2002,Ballantine Books,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...,http://images.amazon.com/images/P/034545104X.0...
...,...,...,...,...,...,...,...,...,...,...
1030883,275970,1880837927,0,The Theology of the Hammer,Millard Fuller,1994,Smyth &amp; Helwys Publishing,http://images.amazon.com/images/P/1880837927.0...,http://images.amazon.com/images/P/1880837927.0...,http://images.amazon.com/images/P/1880837927.0...
1030884,275970,188717897X,0,The Ordeal of Integration: Progress and Resent...,Orlando Patterson,1998,Civitas Book Publisher,http://images.amazon.com/images/P/188717897X.0...,http://images.amazon.com/images/P/188717897X.0...,http://images.amazon.com/images/P/188717897X.0...
1030885,275970,1888889047,0,Pushcart's Complete Rotten Reviews &amp; Rejec...,Bill Henderson,1998,Pushcart Press,http://images.amazon.com/images/P/1888889047.0...,http://images.amazon.com/images/P/1888889047.0...,http://images.amazon.com/images/P/1888889047.0...
1030886,275970,1931868123,0,There's a Porcupine in My Outhouse: Misadventu...,Mike Tougias,2002,Capital Books (VA),http://images.amazon.com/images/P/1931868123.0...,http://images.amazon.com/images/P/1931868123.0...,http://images.amazon.com/images/P/1931868123.0...
1030887,275970,3411086211,10,Die Biene.,Sybil GrÃ?Â¤fin SchÃ?Â¶nfeldt,1993,"Bibliographisches Institut, Mannheim",http://images.amazon.com/images/P/3411086211.0...,http://images.amazon.com/images/P/3411086211.0...,http://images.amazon.com/images/P/3411086211.0...

In [ ]:
filter_rating.columns

Index(['User-ID', 'ISBN', 'Book-Rating', 'Book-Title', 'Book-Author',
       'Year-Of-Publication', 'Publisher', 'Image-URL-S', 'Image-URL-M',
       'Image-URL-L'],
      dtype='object')

In [ ]:
y = filter_rating.groupby("Book-Title").count()["Book-Rating"] >= 50
famous_book = y[y].index

In [ ]:
final_book = filter_rating[filter_rating["Book-Title"].isin(famous_book)] ## this is the way youtube go
final_book

,User-ID,ISBN,Book-Rating,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
63,278418,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
65,3363,0446520802,0,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
66,7158,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
69,11676,0446520802,10,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
74,23768,0446520802,6,The Notebook,Nicholas Sparks,1996,Warner Books,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...,http://images.amazon.com/images/P/0446520802.0...
...,...,...,...,...,...,...,...,...,...,...
1025261,263877,0613335864,0,False Memory,Dean Koontz,2001,Sagebrush Bound,http://images.amazon.com/images/P/0613335864.0...,http://images.amazon.com/images/P/0613335864.0...,http://images.amazon.com/images/P/0613335864.0...
1025321,264082,0821750666,0,Paradise,Phoebe Conn,1995,Zebra Books,http://images.amazon.com/images/P/0821750666.0...,http://images.amazon.com/images/P/0821750666.0...,http://images.amazon.com/images/P/0821750666.0...
1026724,266865,0531001725,10,The Catcher in the Rye,Jerome David Salinger,1973,Scholastic Library Pub,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...,http://images.amazon.com/images/P/0531001725.0...
1028777,271284,0440910927,0,The Rainmaker,John Grisham,1995,Island,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...,http://images.amazon.com/images/P/0440910927.0...
1030868,275970,1586210661,9,Me Talk Pretty One Day,David Sedaris,2001,Time Warner Audio Major,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...,http://images.amazon.com/images/P/1586210661.0...

In [ ]:
# Now create Pivot Table
pt = final_book.pivot_table(index="Book-Title", columns="User-ID", values="Book-Rating")

In [ ]:
pt.fillna(0, inplace=True)

In [ ]:
import pickle
pickle.dump(pt,open('pt_df.pkl','wb'))

In [ ]:
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
similarity_scores = cosine_similarity(pt)

In [ ]:
similarity_scores.shape

(477, 477)

In [ ]:
def recommend(book_name):
    # index fetch
    index = np.where(pt.index == book_name)[0][0]
    similar_items = sorted(list(enumerate(similarity_scores[index])), key= lambda x:x[1], reverse=True)[1:6]
    
    data = []
    for i in similar_items:
      # print(pt.index[i[0]])
      item = []
      temp_df = books[books['Book-Title'] == pt.index[i[0]]]
      item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Title'].values))
      item.extend(list(temp_df.drop_duplicates('Book-Title')['Book-Author'].values))
      item.extend(list(temp_df.drop_duplicates('Book-Title')['Image-URL-M'].values))

      data.append(item)
    
    return data

In [ ]:
recommend("A Walk to Remember")

[['The Rescue',
  'Nicholas Sparks',
  'http://images.amazon.com/images/P/0446610399.01.MZZZZZZZ.jpg'],
 ['The Notebook',
  'Nicholas Sparks',
  'http://images.amazon.com/images/P/0446605239.01.MZZZZZZZ.jpg'],
 ['A Bend in the Road',
  'Nicholas Sparks',
  'http://images.amazon.com/images/P/0446527785.01.MZZZZZZZ.jpg'],
 ['Wanderlust',
  'Danielle Steel',
  'http://images.amazon.com/images/P/0440193613.01.MZZZZZZZ.jpg'],
 ['Circle of Friends',
  'Maeve Binchy',
  'http://images.amazon.com/images/P/0440211263.01.MZZZZZZZ.jpg']]

In [ ]:
recommend_book = recommend("A Walk to Remember")

In [ ]:
recommend_book[0][2]

'http://images.amazon.com/images/P/0446610399.01.MZZZZZZZ.jpg'

In [ ]:
for i in range(len(recommend_book)):
  for j in range(len(recommend_book[0])):
    print(recommend_book[i][j])

The Rescue
Nicholas Sparks
http://images.amazon.com/images/P/0446610399.01.MZZZZZZZ.jpg
The Notebook
Nicholas Sparks
http://images.amazon.com/images/P/0446605239.01.MZZZZZZZ.jpg
A Bend in the Road
Nicholas Sparks
http://images.amazon.com/images/P/0446527785.01.MZZZZZZZ.jpg
Wanderlust
Danielle Steel
http://images.amazon.com/images/P/0440193613.01.MZZZZZZZ.jpg
Circle of Friends
Maeve Binchy
http://images.amazon.com/images/P/0440211263.01.MZZZZZZZ.jpg

In [ ]:
sorted(list(enumerate(similarity_scores[0])), key= lambda x:x[1], reverse=True)[1:5]

[(154, 0.3357621313586574),
 (241, 0.33126607542464404),
 (443, 0.3206563370444462),
 (226, 0.31965294552050905)]

In [ ]:
import pickle
pickle.dump(popular_df,open('popular.pkl','wb'))

In [ ]:
pickle.dump(similarity_scores, open("similarity_scores.pkl", "wb"))

In [ ]:
popular_df["Book-Title"].values

array(['Harry Potter and the Prisoner of Azkaban (Book 3)',
       'Harry Potter and the Goblet of Fire (Book 4)',
       "Harry Potter and the Sorcerer's Stone (Book 1)",
       'Harry Potter and the Order of the Phoenix (Book 5)',
       'Harry Potter and the Chamber of Secrets (Book 2)',
       'The Hobbit : The Enchanting Prelude to The Lord of the Rings',
       'The Fellowship of the Ring (The Lord of the Rings, Part 1)',
       "Harry Potter and the Sorcerer's Stone (Harry Potter (Paperback))",
       'The Two Towers (The Lord of the Rings, Part 2)',
       'To Kill a Mockingbird', 'The Da Vinci Code',
       'The Five People You Meet in Heaven', 'The Catcher in the Rye',
       'The Lovely Bones: A Novel', '1984', 'Prodigal Summer: A Novel',
       'Neverwhere', 'The Secret Life of Bees',
       'Stupid White Men ...and Other Sorry Excuses for the State of the Nation!',
       "Tuesdays with Morrie: An Old Man, a Young Man, and Life's Greatest Lesson",
       'The Red Tent (Bestselling Backlist)',
       "The Hitchhiker's Guide to the Galaxy",
       'Nickel and Dimed: On (Not) Getting By in America',
       'Into the Wild', 'Fahrenheit 451', 'Girl with a Pearl Earring',
       'Outlander', "Where the Heart Is (Oprah's Book Club (Paperback))",
       'Seabiscuit: An American Legend', 'Life of Pi', 'The Bean Trees',
       'A Child Called \\It\\": One Child\'s Courage to Survive"',
       "ANGELA'S ASHES", 'Good in Bed',
       'Fast Food Nation: The Dark Side of the All-American Meal',
       'American Gods', 'Skipping Christmas',
       "Left Behind: A Novel of the Earth's Last Days (Left Behind No. 1)",
       'The Golden Compass (His Dark Materials, Book 1)',
       'The Color Purple', 'Silence of the Lambs', 'About a Boy',
       'Seven Up (A Stephanie Plum Novel)',
       'The Alchemist: A Fable About Following Your Dream',
       'Hard Eight : A Stephanie Plum Novel (A Stephanie Plum Novel)',
       "Suzanne's Diary for Nicholas", 'Lord of the Flies',
       'A Prayer for Owen Meany',
       'The Vampire Lestat (Vampire Chronicles, Book II)',
       "White Oleander : A Novel (Oprah's Book Club)"], dtype=object)

In [ ]:
pickle.dump(books,open('books.pkl','wb'))